#About{
    display:flex;
    flex-wrap: wrap;
    color: white;
    padding-left: 15px;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#aboutText{
    min-height: 200px;
    transform:translateY(20%);
}

#aboutText a{
    color: #A883AF;
}
#aboutText a:visited{
    color: #865E92;
}
#aboutText a:hover{
    color:white;
}