/*header stuff*/
#header {
    background-color:#A883AF;
    background-image: url("../assets/purplerosecropthree.jpg");
    object-fit: cover;
    color: WHITE;
    text-shadow: 3px 3px black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 60vh;
}
#header h1{
    font-weight: bold;
}
#header p{
    font-weight:bold;
}

#quoteBlurb{
    height: 300px;
    width: 100vw;
    text-align: center;
    transform: translateY(30%);



}
#quoteBlurb h2{
    color: white;
}
#quoteBlurb p{
    color: white;
}