/*header stuff*/
#header {
    background-color:#A883AF;
    background-image: url("../assets/purplerosecropthree.jpg");
    object-fit: cover;
    color: white;
    text-shadow: 4px 3px #23272A;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 60vh;
}
.containerTwo{
    transform: translateY(50%);
}
#header h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
#header p{
    font-weight:bold;
    text-align: center;
}

#quoteBlurb{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 300px;
    width: 100vw;
    text-align: center;
    transform: translateY(30%);
}
#quoteBlurb h2{
    color: white;
}
#quoteBlurb p{
    color: white;
}